<div th:fragment="sidebar" class="sidebar">
    <!-- 업데이트 로그 -->
    <a class="nav-link" onclick="loadPage('/release-log')">
        <i class="fa-solid fa-file-lines"></i>
        <span class="nav-text">업데이트 로그</span>
    </a>

    <!-- 기관 홈페이지 -->
    <a class="nav-link" onclick="loadPage('/kisedorkr')">
        <i class="fa-solid fa-house"></i>
        <span class="nav-text">기관 홈페이지</span>
    </a>

    <!-- K-Startup (서브 메뉴) -->
    <a class="p-menu nav-link" onclick="toggleSubmenu('kStartupMenu', this)">
        <i class="fa-solid fa-rocket"></i>
        <span class="nav-text">K-Startup</span>
    </a>
    <div id="kStartupMenu" class="submenu">
        <!--        <a onclick="loadPage('/release-log')">📈 시스템 릴리즈 정보</a>-->
        <a onclick="loadPage('/kstup/popKeyword')">📈 인기 키워드 Top10</a>
        <a onclick="loadPage('/kstup/membAndLogin')">👥 회원 & 로그인 수</a>
        <a onclick="loadPage('/kstup/combNotice')">📢 공고등록 관련 건수</a>
        <!--        <a onclick="loadPage('/kstup/institutionStats')"><i class="fa-solid fa-university"></i> 공고 등록 기관수</a>-->
        <!--        <a onclick="loadPage('/kstup/institutionRegCnt')"><i class="fa-solid fa-bars"></i> 기관별 공고등록 건수</a>-->
    </div>

    <!-- 온라인법인설립 -->
    <a class="nav-link" onclick="loadPage('/incorp')">
        <i class="fa-solid fa-balance-scale"></i>
        <span class="nav-text">온라인법인설립</span>
    </a>

    <!-- 창업기업확인 -->
    <a class="nav-link" onclick="loadPage('/cert')">
        <i class="fa-solid fa-file-text"></i>
        <span class="nav-text">창업기업확인</span>
    </a>

    <!-- 이상거래탐지 현황 -->
    <a class="nav-link" onclick="loadPage('/fds')">
        <i class="fa-solid fa-shield-halved"></i>
        <span class="nav-text">이상거래탐지 현황</span>
    </a>

    <!-- 국고보조금 (서브 메뉴) -->
    <a class="p-menu nav-link" onclick="toggleSubmenu('gukgoMenu', this)">
        <i class="fa-solid fa-coins"></i>
        <span class="nav-text">국고보조금</span>
    </a>
    <div id="gukgoMenu" class="submenu">
        <a onclick="loadPage('/gslsEsb/pms')">💰 국고보조금(PMS) 현황</a>
        <a onclick="loadPage('/gslsEsb/mis')">💵 국고보조금(MIS) 현황</a>
    </div>
</div>