<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-date-picker.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-grid.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-pagination.css">
    <link rel="stylesheet" href="/css/toast-ui/toastui-chart.min.css">
    <script type="text/javascript" src="/js/toast-ui/toastui-chart.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/gsap/gsap.min.js"></script>
    <script src="/js/gsap/ScrollTrigger.min.js"></script>
</head>
<body>
<div class="root">
    <div class="d-flex justify-content-between align-items-center px-4 pt-5 pb-4">
        <div class="d-flex align-items-center">
            <h1 id="systemNm" class="fw-bold text-dark m-0" style="font-size: 1.8rem;">📊 이상거래탐지 현황</h1>
            <span id="statusIcon" class="ms-3 d-inline-block rounded-circle" style="width: 12px; height: 12px; background-color: #28a745;"></span>
            <span id="statusText" class="ms-2 text-success fw-semibold">성공</span>
        </div>

        <div class="date-picker d-flex align-items-center ms-auto me-4">
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="startpicker-input" type="text" aria-label="Date">
                <span class="tui-ico-date"></span>
                <div id="startpicker-container" style="margin-left: -1px;"></div>
            </div>
            <span> ~ </span>
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="endpicker-input" type="text" aria-label="Date">
                <span class="tui-ico-date"></span>
                <div id="endpicker-container" style="margin-left: -1px;"></div>
            </div>
            <span class="fw-bold text-dark">👈 추후 제공될 기능</span>
<!--            <button class="btn btn-primary" onclick="searchPopKeyword()" style="background-color: #4d4d4d; border-color: #4d4d4d;">🔍조회</button>-->
        </div>
    </div>

    <div class="grid-section">
        <div class="d-flex align-items-center ms-auto ps-4 pt-4">
            <button type="button" class="btn btn-success text-end ms-auto me-4" id="excelDownloadBtn" onclick="excelDownload()">
                ExcelDownload
            </button>
        </div>

        <div id="grid" class="container-fluid p-4 h-auto"></div>
    </div>


    <div id="contentDiv">
        <div class="container-fluid p-4">
            <!-- Charts Section -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="preDetCntAnnualChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="preDetCntMonthlyChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="preDetProfCntAnnualChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="preDetProfCntMonthlyChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="totalDetCntAnnualChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="totalDetCntMonthlyChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/toast-ui/tui-date-picker.js"></script>
<script src="/js/common/date-picker.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script src="/js/toast-ui/tui-pagination.js"></script>
<script th:inline="javascript">
    function setApiFailureIcon() {
        $('#statusIcon').css('background-color', '#dc3545');
        $('#statusText').css('color', '#dc3545');
        $('#statusText').text('실패')
    }

    function setApiSuccessIcon() {
        $('#statusIcon').css('background-color', '#28a745');
        $('#statusText').css('color', '#28a745');
        $('#statusText').text('성공')
    }

</script>
<script src="/js/toast-ui/tui-grid.js"></script>
<script src="/js/services/fds/fds.js"></script>
</body>
</html>
