<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/toast-ui/toastui-chart.min.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-grid.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-pagination.css">
    <script type="text/javascript" src="/js/toast-ui/toastui-chart.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div>
    <div class="d-flex align-items-center" style="padding-left: 20px;">
        <h1 id="systemNm" style="font-size: 2rem;">기관 홈페이지</h1>
        <span id="statusIcon" style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: #28a745; margin-left: 10px;"></span>
        <span id="statusText" style="color: #28a745">성공</span>
    </div>

    <!-- 통계 카드 (DAU, MAU 등) -->
    <div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 my-3">
        <!-- DAU 카드 -->
        <div class="col">
            <div class="card text-center border-1 shadow-sm stat-card">
                <div class="card-body">
                    <h5 class="card-title stat-title">월평균 방문자수</h5>
                    <h2 class="card-text stat-value" id="dauValue">120,000</h2>
                    <p class="stat-comparison text-success mb-0">+5% (전주 대비)</p>
                </div>
            </div>
        </div>

        <!-- MAU 카드 -->
        <div class="col">
            <div class="card text-center border-1 shadow-sm stat-card">
                <div class="card-body">
                    <h5 class="card-title stat-title">일평균 방문자수</h5>
                    <h2 class="card-text stat-value" id="mauValue">300,000</h2>
                    <p class="stat-comparison text-danger mb-0">-2% (전주 대비)</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contentDiv">
        <div class="container-fluid p-4">
            <!-- Charts Section -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="annualChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <div class="card shadow-sm">-->
<!--                        <div class="card-body">-->
<!--                            <div id="weekChart" style="width: 100%"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <div class="row mt-4">
                <!-- Cards -->
                <div class="col-md-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="monthChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gridBtn" class="container-fluid text-end pe-4 pt-3">
        <button type="button" class="btn btn-success" id="excelDownloadBtn" onclick="excelDownload()">
            <i class="bi bi-file-earmark-excel"></i> ExcelDownload
        </button>
    </div>

    <div id="grid" class="container-fluid p-4"></div>
</div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script src="/js/toast-ui/tui-pagination.js"></script>
<script th:inline="javascript">
    function setApiFailureIcon() {
        $('#statusIcon').css('background-color', '#dc3545');
        $('#statusText').css('color', '#dc3545');
        $('#statusText').text('실패')
    }

    function setApiSuccessIcon() {
        $('#statusIcon').css('background-color', '#28a745');
        $('#statusText').css('color', '#28a745');
        $('#statusText').text('성공')
    }

</script>
<script src="/js/services/kisedorkr/kisedorkr.js"></script>
<script src="/js/toast-ui/tui-grid.js"></script>
</body>
</html>
