<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/toastui-chart.min.css">
    <link rel="stylesheet" href="/css/tui-grid.css">
    <link rel="stylesheet" href="/css/tui-pagination.css">
    <script type="text/javascript" src="/js/toastui-chart.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!--<script src="/js/scrollreveal.js"></script>-->
    <!--https://github.com/nhn/tui.chart/blob/main/docs/ko/chart-pie.md -> 모든 차트의 핸들링 가이드-->
</head>
<body>
<div class="container-fluid bg-light vh-100">
    <!-- Header -->
    <div th:replace="header :: navbar"></div>

    <!-- Sidebar + Content -->
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 text-white h-auto p-4" style="background-color: #06357a;">
            <ul class="nav flex-column">
                <th:block th:if="${session.auth == 'Y'}">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dashboard/admin/memberList">사용자 목록</a>
                    </li>
                </th:block>
                <li class="nav-item">
                    <a class="nav-link text-white" onclick="selectService1()">Service_1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" onclick="selectService2()">Service_2</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 p-4">
            <div class="d-flex align-items-center" style="padding-left: 20px;">
                <h1 id="systemNm" style="font-size: 2rem;">Service_1</h1>
                <span id="statusIcon" style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color: #28a745; margin-left: 10px;"></span>
                <span id="statusText" style="color: #28a745">성공</span>
            </div>

            <div id="gridBtn" class="text-end mb-3">
                <button type="button" class="btn btn-success" id="excelDownloadBtn" onclick="excelDownload()">
                    <i class="bi bi-file-earmark-excel"></i> ExcelDownload
                </button>
            </div>

            <div id="grid"></div>

            <!-- 차트 화면 포함 -->
            <div id="contentDiv"></div>
        </div>
    </div>

    <footer class="text-center py-3 bg-light mt-4">
        <small>© 2024 창업진흥원. All rights reserved.</small>
    </footer>
</div>


<!-- Bootstrap JS -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/dashboard_chart.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script src="/js/tui-pagination.js"></script>
<script src="/js/tui-grid.js"></script>
<script src="/js/dashboard_grid.js"></script>
<script th:inline="javascript">
    let annualData;
    let monthlyData;
    let weeklyData;

    let annualChart;
    let monthlyChart;
    let weeklyChart;

    let serviceGrid;

    $(document).ready(function(){
        $.ajax({
            url: '/service1',
            type: 'GET',
            dataType: 'html',
            success: function(data) {
                $('#contentDiv').html(data);

                //최초 렌더링 service명 세팅
                $('#systemNm').html('service_1');

                chartInit();
                gridInit();
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });

    function logout() {
        if(!confirm("로그아웃 하시겠습니까?")) return;
        //csrf 토큰이 있어야 로그아웃 처리할 수 있음. -> 추후 만들기
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin' // CSRF 보호 활성화 시 필요
        })
            .then(response => {
                if (response.ok) {
                    return response;
                } else {
                    throw new Error('Logout failed');
                }
            })
            .then(data => {
                window.location.href = '/loginForm'; // 로그인 페이지로 리다이렉트
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    function selectService1() {
        destroyChart();
        destroyGrid();

        $('#systemNm').html('service_1');

        chartInit('/service1');
        gridInit('/service1');
    }

    function selectService2() {
        destroyChart();
        destroyGrid();

        $('#systemNm').html('service_2');

        chartInit('/service2');
    }

    function setApiFailureIcon() {
        $('#statusIcon').css('background-color', '#dc3545');
        $('#statusText').css('color', '#dc3545');
        $('#statusText').text('실패')
    }

    function setApiSuccessIcon() {
        $('#statusIcon').css('background-color', '#28a745');
        $('#statusText').css('color', '#28a745');
        $('#statusText').text('성공')
    }

    ScrollReveal().reveal('.card', {
        distance: '50px',
        origin: 'bottom',
        opacity: 0,
        duration: 600,
        easing: 'ease-out',
        interval: 100
    });

</script>
</body>
</html>
