<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>통계 현황 시스템 로그인</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common/all.min.css">
</head>
<body>

<div class="login-card">
    <h3>Stats Dashboard📊</h3>
    <div id="loginError" class="error-text text-center mb-3"></div>

    <form id="loginForm" onsubmit="return validateForm()" action="/loginPost" method="post">
        <div class="form-group">
            <i class="fas fa-user input-icon"></i>
            <input type="text" class="form-control" id="userId" name="userId" placeholder="아이디">
            <div id="userIdError" class="error-text"></div>
        </div>
        <div class="form-group">
            <i class="fas fa-lock input-icon"></i>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
            <div id="passwordError" class="error-text"></div>
        </div>
        <button type="submit" class="btn btn-login">로그인</button>
    </form>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    var failedMessage = /*[[${loginFailMsg}]]*/ '';
    if(failedMessage != null) {
        alert(failedMessage);
    }
</script>
<script>
    function validateForm() {
        let isValid = true;

        const userId = document.getElementById("userId");
        const password = document.getElementById("password");
        const userIdError = document.getElementById("userIdError");
        const passwordError = document.getElementById("passwordError");
        const loginError = document.getElementById("loginError");

        userIdError.textContent = "";
        passwordError.textContent = "";

        // 초기화: 기존 에러 메시지 숨기기
        loginError.classList.remove('show');
        userIdError.classList.remove('show');
        passwordError.classList.remove('show');

        if (!userId.value.trim()) {
            userIdError.classList.add('show');
            userIdError.textContent = "아이디를 입력해주세요.";
            isValid = false;
        }

        if (!password.value.trim()) {
            passwordError.classList.add('show');
            passwordError.textContent = "비밀번호를 입력해주세요.";
            isValid = false;
        }

        return isValid;
    }

    // 세션 만료 시 iframe에서 login 화면으로 이동하는 현상 수정
    if (window.top !== window.self) {
        // iframe 내부에서 열린 경우
        window.top.location.href = window.location.href;
    }
</script>

</body>
</html>