<div class="container-fluid p-4">
    <div class="row">
        <!-- Cards -->
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body" style="width: 100%">
                    <div id="monthChart"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Charts Section -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div id="annualChart" style="width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div id="weekChart" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>