<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/toast-ui/toastui-chart.min.css">
    <link rel="stylesheet" href="/css/toast-ui/tui-date-picker.css">
    <script type="text/javascript" src="/js/toast-ui/toastui-chart.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="root">
    <div class="d-flex justify-content-between align-items-center px-4 pt-5 pb-4">
        <div class="d-flex align-items-center">
            <h1 id="systemNm" class="fw-bold text-dark m-0" style="font-size: 1.8rem;">📊 창업기업확인 확인서 관련 건수</h1>
            <span id="statusIcon" class="ms-3 d-inline-block rounded-circle" style="width: 12px; height: 12px; background-color: #28a745;"></span>
            <span id="statusText" class="ms-2 text-success fw-semibold">성공</span>
        </div>

        <div class="d-flex align-items-center ms-auto me-4">
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="startpicker-input" type="text" aria-label="Date">
                <span class="tui-ico-date"></span>
                <div id="startpicker-container" style="margin-left: -1px;"></div>
            </div>
            <span> ~ </span>
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="endpicker-input" type="text" aria-label="Date">
                <span class="tui-ico-date"></span>
                <div id="endpicker-container" style="margin-left: -1px;"></div>
            </div>
            <button class="btn btn-primary" onclick="searchPopKeyword()" style="background-color: #4d4d4d; border-color: #4d4d4d;">🔍조회</button>
        </div>
    </div>

    <div class="container-fluid row row-cols-1 row-cols-sm-2 row-cols-md-4 p-4">
        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 text-center bg-light stat-card">
                <div class="card-body py-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-bar-chart-fill text-primary fs-3 me-2"></i>
                        <h5 class="card-title stat-title fw-semibold text-dark">확인서 신청 건수</h5>
                    </div>
                    <h2 id="currentMembCnt" class="card-text stat-value fw-bold text-dark mt-2">224</h2>
                    <p id="currMembYmd" class="stat-comparison text-success fs-6 fw-semibold mb-0">(2025-03-25 기준)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 text-center bg-light stat-card">
                <div class="card-body py-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-people-fill text-danger fs-3 me-2"></i>
                        <h5 id="yearMembTitle" class="card-title stat-title fw-semibold text-dark">확인서 발급 건수</h5>
                    </div>
                    <h2 id="loginCnt" class="card-text stat-value fw-bold text-dark mt-2" >63</h2>
                    <p id="loginYmd" class="stat-comparison text-danger fs-6 fw-semibold mb-0">(2025-03-25 기준)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 text-center bg-light stat-card">
                <div class="card-body py-4">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-calendar-week text-info fs-3 me-2"></i>
                        <h5 class="card-title stat-title fw-semibold text-dark">확인서 반려 건수</h5>
                    </div>
                    <h2 id="loginOrigCnt" class="card-text stat-value fw-bold text-dark mt-2">11</h2>
                    <p id="loginOrigYmd" class="stat-comparison text-primary fs-6 fw-semibold mb-0">(2025-03-25 기준)</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contentDiv">
        <div class="container-fluid p-4">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div id="membCntDailyChart" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/toast-ui/tui-date-picker.js"></script>
<script src="/js/common/date-picker.js"></script>
<script th:inline="javascript">
    function setApiFailureIcon() {
        $('#statusIcon').css('background-color', '#dc3545');
        $('#statusText').css('color', '#dc3545');
        $('#statusText').text('실패')
    }

    function setApiSuccessIcon() {
        $('#statusIcon').css('background-color', '#28a745');
        $('#statusText').css('color', '#28a745');
        $('#statusText').text('성공')
    }

</script>
<script src="/js/services/cert/cert.js"></script>
</body>
</html>
